/* Min Width : 1588px */
@media (min-width:1588px) {
    .title-banner h1 {
        width: 43vw;
    }
}

/* Max Width : 1457px */
@media (max-width:1457px) {


    /* Banner */
    .title-banner h1 {
        font-size: 39px;
        line-height: 45px;
    }

    .title-banner p {
        font-size: 15.5px;
        line-height: 20px;
        margin-top: 15px;
        margin-bottom: 36px;
    }

    .text-see-all {
        font-size: 10px;
        line-height: 10px;
        padding: 10px 35px;
    }

    .text-see-all img {
        padding: 4.5px 5px 4.5px 5px;
    }

    .btn-slip-down img {
        width: 55px;
        bottom: 10px;
    }

    .btn-slip-down i img {
        bottom: 15px;
        width: 15px;
        transform: translate(132%, -15%);
    }


    /* About Us */
    .pic-about-us span {
        width: 23vw;
        height: 11.5vw;
        right: 3vw;
        bottom: -2vw;
        padding: 3.5vw 0.5vw 0 3vw;
        font-size: 17px;
        line-height: 23px;
    }

    .pic-about-us span img {
        right: 19vw;
        bottom: 3.5vw;
    }

    .about-us-text {
        margin-bottom: 6vw;
    }

    /* Contact */
    .footer-contact-item-1 h2 {
        font-size: 35px;
    }

    .footer-contact-item-2 {
        padding-right: 45px;
    }

    .footer-contact-item-2 img {
        width: 35%;
    }

    .footer-contact-item-2 p {
        font-size: 12px;
    }


    /* Footer */
    .submit-area input {
        width: 240px;
    }

    .col-footer-3 a img {
        right: 7%;
    }

}

/* Max Width :1200px */
@media (max-width:1200px) {

    /* Header */
    .logo::before {
        width: 525%;
    }

    /* Banner */
    .menu-banner {
        top: 60px;
    }

    .title-banner h1 {
        font-size: 31px;
        line-height: 35px;
    }

    .title-banner p {
        font-size: 12.5px;
        line-height: 17px;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .text-see-all {
        font-size: 14px;
        line-height: 9px;
        padding: 6px 28px;
    }

    .text-see-all img {
        padding: 2.5px;
        right: -20%;
    }

    .btn-slip-down img {
        width: 45px;
        bottom: 5px;
    }

    .btn-slip-down i img {
        bottom: 8px;
        width: 12px;
        transform: translate(135%, -15%);
    }

    /* About Us */
    .about-us {
        padding: 30px 0;
    }

    .pic-about-us {
        width: 45%;
    }

    .about-us-desciption p {
        font-size: 14px;
    }

    .about-us-desciption h2 p {
        font-size: 32px;
        padding: 30px 0 35px;
    }

    .about-us-desciption h2 span {
        font-size: 16px;
    }

    .pic-about-us img {
        margin-bottom: 0;
    }

    .pic-about-us span {
        padding: 1vw 0.5vw 0 1.5vw;
        font-size: 12px;
        width: 15vw;
        height: 8.5vw;
        right: 3vw;
        bottom: 8vw;
    }

    .pic-about-us span img {
        width: 4.5vw;
        right: 12vw;
        bottom: 3vw;
        padding: 0;
        margin: 0;
    }

    .about-us-text {
        margin-bottom: 2vw;
    }

    .btn-see-more-2 {}

    /* Services */
    .services-1 {
        width: 100%;
        padding: 0;
    }

    /* News */
    .news {
        margin: 70px 0;
    }

    .news-contents h3 {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 25px;
    }

    .news-contents p {
        font-size: 14px;
        line-height: 15px;
    }

    .date-news {
        padding: 15px 0 20px 10px;
    }

    .btn-see-more-3 {
        padding-left: 60px;
        transform: translateY(10px);
    }

    /* Customers */
    .main-title h2 span {
        font-size: 14px;
    }

    .bg-customer {
        margin-left: 100px;
        width: 30%;
    }

    .bg-customer span {
        bottom: 2vw;
    }

    .customers-comment {
        padding: 28px 0 110px 0;
        margin: 0px;
    }

    .customer-comment p {
        padding-top: 15px;
        padding-left: 100px;
    }

    /* Contact */
    .footer-contact {
        padding: 50px 0;
    }

    .footer-contact-item-1 h2 {
        font-size: 30px;
    }

    .footer-contact-item-2 {
        padding-right: 30px;
    }

    .footer-contact-item-2 img {
        width: 25%;
    }

    /* Footer */
    .main-footer {
        padding-bottom: 62px;
    }

    .col-footer-1 {
        width: calc(100%/3);
        margin-left: 0;
    }

    .col-footer-2 {
        width: calc(100%/3);
        margin-left: 0;
    }

    .col-footer-3 {
        width: calc(100%/3);
        margin-left: 0;
    }

    .col-footer-3 a img {
        padding: 5.5px;
        right: 0;
    }

    .main-footer h5 {
        margin-top: 30px;
        font-weight: 600;
        font-size: 16px;
    }

    .main-footer p {
        margin-top: 10px;
        font-size: 14px;
    }

    .main-footer h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .col-footer-2 ul li a {
        font-weight: 400;
        font-size: 14px;
    }

    .submit-area {
        margin: 4px 0 10px;
    }

    .submit-area input {
        width: 100%;
        height: 35px;
    }

    .maps iframe {
        width: 100%;
        height: 120px;
    }

    /* Links */
    .footer-links {
        padding: 42px 0 32px;
    }
}

/* Min Width 1050px */
@media (min-width:1050px) {

    /* Header */
    .contact-icon {
        transition: 0.3s;
    }

    .contact-icon:hover {
        padding: 5px;
        transition: 0.3s;
    }

    .contact-icon img:hover {
        flex-wrap: wrap-reverse;
    }

    /* Banner */
    .menu-banner li a {
        padding-bottom: 1.5vw;
        transition: 0.3s;
    }

    .menu-banner li a:hover {
        padding: 2px 2px 1vw 2px;
        color: #C1F8FF;
        border-bottom: 2px #C1F8FF solid;
        transition: 0.3s;
    }

    .btn-see-more-1:hover {
        transform: translateX(10px);
        transition: 0.3s;
    }

    .text-see-all {
        transition: 0.3s;
    }

    .text-see-all:hover {
        color: #ffffff;
    }

    .fab {
        transition: 0.6s;
    }

    .fab:hover {
        font-size: 200%;
        transition: 0.6s;
    }

    .btn-slip-down {
        transition: 0.3s;
    }

    .btn-slip-down:hover {
        transform: translateY(-5px);
        transition: 0.3s;
    }

    /* About Us */
    .btn-see-more-2:hover {
        transform: translateX(10px);
        transition: .3s;
    }

    /* Services */
    .service {
        transition: .6s;
    }

    .service:hover {
        background: #265BC5;
        transition: .6s;
    }

    /* News */
    .col-news {
        transition: 0.3s;
    }

    .col-news:hover {
        box-shadow: 0px 0px 30px rgb(103 92 92 / 25%);
        transition: 0.3s;
    }

    .news-contents h3:hover {
        content: "";
    }

    .btn-see-more-4:hover {
        transform: translateX(10px);
        transition: .3s;
    }

    /* Customer */
    .slick-dots li button:hover {
        transform: scale(1.2);
        transition: .3s;
    }

    .slick-prev {
        display: none;
    }

    .slick-next {
        display: none;
    }

    .slick-prev::before {
        display: none;
    }

    .slick-next::before {
        display: none;
    }

    .brands a img:hover {
        transform: translateY(-20px);
        transition: .3s;
    }

    /* Contacts */
    .footer-contact-item-1 h2:hover {
        color: red;
        transition: 0.9;
        font-size: 300%;
        transition: 0.9s;
    }

    .footer-contact-item-2 a img {
        transition: .3s;
    }

    .footer-contact-item-2 img:hover {
        transform: scale(1.3);
        transition: .3s;
    }

    /* Main Footer */
    .main-footer h4:hover {
        color: red;
        transition: 0.9s;
    }

    .col-footer-2 ul li a:hover {
        color: lightblue;
        transition: 0.6s;
    }

    .footer-links a img:hover {
        transform: scale(1.3);
        transition: 0.3s;
    }

    .icon-link {
        transition: .3s;
    }

    .icon-link:hover {
        transform: scale(1.3);
        transition: .3s;
    }
}

/* Max Width: 992px */
@media (max-width:992px) {

    .container {
        padding: 4%;
        max-width: 100%;
    }

    /* Header */
    .top-header {
        padding: 10px 0px 20px;
    }

    .row-header {
        display: block;
    }

    .logo {
        position: relative;
        transform: unset;
        padding: 5vw 0 0;
        width: 100%;
    }

    .logo li {
        text-align: center;
    }

    .icon-logo img {
        margin-left: 0;
    }

    .logo::before {
        display: none;
    }

    .slogan {
        display: none;
    }

    .menu-contact {
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
    }

    .time-working {
        display: none;
    }

    .contact-icon {
        padding: 0 35px;
        margin: 0;
    }

    .contact-name {
        display: none;
    }


    /* Menu Hamberger */
    .menu-mobile {
        display: block;
    }

    .menu-banner-mobile {
        display: none;
        background: #F8F8F8;
        width: 100%;
    }

    .menu-banner-mobile ul {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 15px 0 0;
    }

    .menu-banner-mobile li:not(:last-child) {
        padding-right: 72px;
    }

    .menu-banner-mobile li a {
        text-decoration: none;
        font-family: Mulish, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #F8F8F8;
        font-weight: 600;
    }


    /* Banner */
    .menu-banner {
        display: none;
    }

    .menu-banner-mobile li:not(:last-child) {
        padding-right: 0;
    }

    .menu-banner-mobile ul li a {
        color: darkblue;
    }

    .title-banner {
        top: 0;
        text-align: justify;
        left: 0;
        width: 100%;
        padding: 4vw 1vw 0;
    }

    .title-banner h1 {
        font-size: 32px;
        line-height: 45px;
        width: 100%;
    }

    .title-banner p {
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 4vw;
        margin-top: 3vw;
        margin-bottom: 5vw;
        width: 90%;
    }

    .btn-see-more-1 {
        text-align: center;
    }

    .text-see-all {
        font-size: 14px;
        padding: 10px 45%;
    }

    .text-see-all img {
        display: none;
    }

    .icon-banner {
        display: none;
    }

    .btn-slip-down img {
        width: 40px;
        bottom: 5px;
    }

    .btn-slip-down i img {
        bottom: 5px;
        width: 11px;
        transform: translate(125%, -65%);
    }


    /* About Us */
    .about-us .row {
        display: block;
    }

    .pic-about-us {
        padding: 0;
        width: 100%;
        flex: none;
        text-align: center;
    }

    .pic-about-us img {
        margin-bottom: 60px;
        padding-left: 0%;
    }

    .pic-about-us span img {
        width: 9vw;
        position: absolute;
        right: auto;
        left: -3vw;
        bottom: 8vw;
        top: auto;
    }

    .pic-about-us span {
        width: 50vw;
        height: 20vw;
        right: 20%;
        bottom: 2vw;
        padding: 6vw 5vw 2vw;
        font-weight: bold;
        font-family: Mulish, sans-serif;
        font-size: 18px;
        line-height: 23px;
        color: #F8F8F8;
        text-align: center;
    }

    .about-us-desciption {
        text-align: justify;
        width: 100%;
        padding: 0;
    }

    .about-us-desciption h2 span {
        text-align: center;
    }

    .about-us-desciption h2 p {
        text-align: center;
    }

    .btn-see-more-2 {
        text-align: center;
    }

    /* Services */
    .services {
        padding: 50px 0;
    }

    .service {
        width: 100%;
        flex: none;
        padding-left: 5vw;
    }

    .icon-service img:first-child {
        max-width: 25%;
    }

    .icon-service img:last-child {
        padding-left: 42vw;
    }


    /* News */
    .news {
        margin: 50px 0;
    }

    .row-main-news {
        padding: 15px 0 0;
    }

    .col-news {
        width: 100%;
        padding: 0;
    }

    .col-news:not(:last-child) {
        padding-right: 0;
    }

    .bg-news {
        width: 100%;
    }

    .news-contents {
        padding-bottom: 25px;
    }

    .news-contents-footer {
        justify-content: space-between;
        margin-bottom: 20px;
    }


    /* Customer */

    .main-title h2 p {
        font-size: 36px;
    }

    .customers-comment {
        text-align: justify;
        max-width: 100%;
        padding: 38px 0 76px;
    }

    .bg-customer {
        position: relative;
        width: 100%;
        margin-left: 0;
        padding: 0;
        text-align: center;
    }

    .bg-customer img {
        width: 100%;
        padding: 0;
    }

    .bg-customer span {
        left: 30vw;
        right: auto;
        top: auto;
        bottom: -5vw;
        padding: 5vw;
    }

    .customer-comment {
        width: 100%;
        margin-top: 50px;
        padding: 0;
    }

    .customer-comment img {
        width: 7%;
        left: 0vw;
    }

    .customer-comment p {
        padding-left: 50px;
    }

    .brands {
        padding: 0;
        flex-wrap: wrap;
    }

    /* Contact */
    .footer-contact {
        padding: 40px 0;
    }

    .footer-contact-item-1 h2 {
        font-size: 35px;
        line-height: 30px;
    }

    .footer-contact-item-2 img {
        width: 25%;
    }

    .footer-contact-item-2 p {
        font-weight: normal;
        margin-top: 10px;
    }

    .footer-contact-item-1 h2 {
        padding-top: 20px;
    }


    /* Footer */
    .main-footer {
        padding-bottom: 0;
    }

    .col-footer-1 {
        flex: none;
        width: 100%;
        margin: 0;
        text-align: center;
        padding-top: 21px;
    }

    .col-footer-2 {
        flex: none;
        width: 100%;
        margin: 0;
        padding-top: 21px;
    }

    .col-footer-3 {
        flex: none;
        width: 100%;
        margin: 0;
        padding-top: 21px;
    }

    .col-footer-2 ul {
        display: flex;
    }

    .col-footer-2 ul li {
        padding-right: 50px;
    }

    .col-footer-3 a img {
        top: 0;
        bottom: auto;
        left: auto;
    }

    .submit-area {
        width: 100%;
    }

    .maps iframe {
        width: 100%;
        height: 200px;
    }


    /* Links */
    .footer-links {
        padding: 26px 0 21px;
    }

    .footer-links a:not(:last-child) {
        padding-right: 50px;
    }

    .footer-links img {
        width: 15px;
        height: 15px;
    }
}

/* Max Width : 768px */


/* Max Width : 767px */
@media (max-width:767px) {

    /* Header */
    .icon-logo img {
        width: 30%;
        margin-left: 0;
    }

    .contact-icon img {
        width: 70%;
    }


    /* Banner */
    .title-banner h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .title-banner p {
        font-size: 13px;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .text-see-all {
        padding: 10px 43%;
    }

    /* About Us */
    .pic-about-us span {
        font-size: 16px;
        bottom: 5vw;
    }

    /* Services */
    .icon-service {
        padding-top: 20px;
        margin-bottom: 8px;
    }

    .detail-service p:last-child {
        padding-bottom: 20px;
    }

    .icon-service img:first-child {
        max-width: 50%;
    }

    .icon-service img:last-child {
        display: none;
    }

    /* Customer */
    .slick-track img:last-child {
        padding: 3vw;
    }

    .brands a img {
        width: 30%;
    }

    /* Contact */
    .row-footer-contact {
        display: block;
    }

    .footer-contact-item-1 {
        width: 100%;
    }

    .footer-contact-item-1 h2 {
        padding-top: 0;
    }

    .footer-contact-item-2 {
        width: 100%;
        padding-right: 0;
    }

    .footer-contact-item-2 a img {
        width: 5%;
        padding-top: 20px;
    }

    .footer-contact-item-2 p {
        font-size: 14px;
    }

    /* Footer */
    .col-footer-2 ul li {
        padding-right: 30px;
    }
}

/* Max Width : 576px */
@media (max-width:576px) {

    /* Header */
    .top-header {
        padding: 20px 0 20px;
    }

    .contact-icon {
        padding: 0px 20px 0 0;
    }

    /* Banner */
    .title-banner h1 {
        font-size: 17px;
    }

    .title-banner p {
        font-size: 12px;
    }

    .text-see-all {
        padding: 10px 43%;
    }

    /* About Us */
    .pic-about-us span {
        font-size: 14px;
        padding: 4vw;
    }

    .pic-about-us span img {
        left: -3vw;
        bottom: 8vw;
    }

    /* Services */
    /* News */
    .col-news {
        padding: 5px;
        text-align: center;
    }

    .news-contents {
        padding-left: 0;
    }

    /* Customers */

    .bg-customer span {
        left: 6vw;
    }

    .customer-comment p {
        padding-left: 40px;
    }

    /* Contact */

    .footer-contact-item-1 {
        margin-bottom: 15px;
    }

    .footer-contact-item-2 {
        padding: 0;
    }

    .footer-contact-item-2 img {
        width: 5%;
    }
}

/* Max Width : 539px */
@media (max-width:539px) {

    /* Banner */
    .title-banner h1 {
        font-size: 16px;
        line-height: 23px;
    }

    .text-see-all {
        padding: 5px 42.5%;
        font-size: 12px;
    }

    .text-see-all img {
        right: -17%;
        width: 20%;
        transform: translateY(0%);
    }

    .btn-slip-down img {
        width: 35px;
        bottom: 4px;
    }

    .btn-slip-down i img {
        bottom: 4px;
        width: 10px;
    }

    /* Customers */

    /* Footer */
    .col-footer-2 ul {
        flex-wrap: wrap;
    }

}

/* Max Width : 439px */
@media (max-width:439px) {

    /* Header */
    .menu-hamburger span {
        transition: 0.3s;
        display: block;
        margin: 2px;
        width: 15px;
        height: 2px;
        background-color: black;
    }

    /* Banner */

    .title-banner {
        padding: 2vw 1vw 0;
    }

    .btn-see-more-1 {
        margin-top: 1vw;
    }

    .text-see-all {
        padding: 5px 42%;
    }

    .btn-slip-down img {
        width: 25px;
        bottom: 3px;
    }

    .btn-slip-down i img {
        bottom: 4px;
        width: 7px;
        transform: translate(130%, -50%);
    }

    /* About Us */
    .pic-about-us span {
        line-height: 16px;
    }

    /* Services */
    .icon-service img:first-child {
        max-width: 40%;
    }

    .detail-service p:last-child {
        padding-bottom: 5px;
    }

    /* Customers */
    .customer-comment p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #505050;
    }

    .customer-comment img {
        padding: 0;
        width: 10%;
    }

    /* Footer */
    .col-footer-2 ul {
        margin-left: 10px;
        justify-content: center;
    }

    .col-footer-2 ul li {
        padding-right: 25px;
    }

    .col-footer-2 ul li a {
        font-size: 14px;
    }
}

/* Max Width : 417px */
@media (max-width:417px) {

    /* Header */
    .top-header {
        padding: 10px 0 20px;
    }

    /* Banner */
    .title-banner h1 {
        line-height: 20px;
    }

    .title-banner p {
        margin: 1vw 0;
        width: 100%;
    }

    .text-see-all {
        font-size: 12px;
        padding: 4.5px 41%;
    }

    .text-see-all img {
        right: -17%;
        width: 24%;
        transform: translateY(0%);
    }
}

/* Max Width : 372px */
@media (max-width:372px) {
    .container {
        padding: 10%;
    }

    /* Header */

    .contact-name span a {
        font-size: 12px;
    }

    .menu-banner-mobile li a {
        font-size: 12px;
        line-height: 14px;
    }

    /* Banner */
    .title-banner {
        padding: 1vw;
    }

    .title-banner h1 {
        font-size: 12px;
        line-height: 14px;
    }

    .title-banner p {
        font-weight: lighter;
    }

    .btn-see-more-1 {
        margin-top: 0;
    }

    .text-see-all {
        padding: 4px 36%;
    }

    .btn-slip-down {
        display: none;
    }

    /* About Us */
    .about-us {
        padding: 0;
    }

    .pic-about-us img {
        margin-bottom: 40px;
    }

    .pic-about-us span {
        padding: 2vw;
    }

    /* Services */
    .services {
        padding: 0;
    }

    /* News */
    .news {
        margin: 0;
    }

    .col-news {
        padding: 0;
    }

    .bg-news {
        margin-bottom: 14px;
    }

    .news-contents h3 {
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 20px;
    }

    .news-contents p {
        font-size: 12px;
    }

    .news-contents-footer {
        margin-bottom: 0;
    }

    .date-news {
        padding: 5px 0 15px 5px;
    }

    .date-news img {
        max-width: 15%;
    }

    .date-news p {
        font-size: 12px;
        line-height: 30px;
        color: #303030;
    }

    .btn-see-more-3 {
        padding-left: 0px;
        transform: translateY(2px);
    }

    .link-3 {
        font-size: 12px;
        line-height: 16px;
    }

    .link-4 img {
        width: 20%;
    }

    /* Customers */
    .main-title h2 p {
        font-size: 28px;
    }

    .customer-comment p {
        padding-left: 25px;
    }

    /* Contact */
    .footer-contact-item-2 p {
        font-size: 12px;
    }

    .footer-contact-item-1 h2:hover {
        color: white;
    }

    /* Footer */
    .col-footer-1 {
        padding: 0;
    }

    .col-footer-2 {
        padding: 21px 0 0 0;
    }

    .col-footer-3 {
        padding: 21px 0 0 0;
    }

    .submit-area input {
        height: 30px;
    }

    .col-footer-3 a img {
        padding: 3px;
    }

}