/* Min Width : 1588px */
@media (min-width:1588px) {
    .title-banner h1 {
        width: 43vw;
    }
}

/* Max Width : 1457px */
@media (max-width:1457px) {


    /* Banner */
    .title-banner h1 {
        font-size: 39px;
        line-height: 45px;
    }

    .title-banner p {
        font-size: 15.5px;
        line-height: 20px;
        margin-top: 15px;
        margin-bottom: 36px;
    }

    .text-see-all {
        font-size: 10px;
        line-height: 10px;
        padding: 10px 35px;
    }

    .text-see-all img {
        padding: 4.5px 5px 4.5px 5px;
    }

    .btn-slip-down img {
        width: 55px;
        bottom: 10px;
    }

    .btn-slip-down a img {
        bottom: 15px;
        width: 15px;
        transform: translate(132%, -15%);
    }


    /* About Us */
    .pic-about-us span {
        width: 23vw;
        height: 11.5vw;
        right: 3vw;
        bottom: -2vw;
        padding: 3.5vw 0.5vw 0 3vw;
        font-size: 17px;
        line-height: 23px;
    }

    .pic-about-us span img {
        right: 19vw;
        bottom: 3.5vw;
    }

    /* Contact */
    .footer-contact-item-1 h2 {
        font-size: 35px;
    }

    .footer-contact-item-2 {
        padding-right: 45px;
    }

    .footer-contact-item-2 img {
        width: 35%;
    }

    .footer-contact-item-2 p {
        font-size: 12px;
        line-height: 14px;
    }


    /* Footer */
    .submit-area input {
        width: 240px;
    }

    .col-footer-3 a img {
        right: 7%;
    }

}

/* Max Width :1200px */
@media (max-width:1200px) {

    /* Header */
    .logo::before {
        width: 525%;
    }

    /* Banner */
    .menu-banner {
        top: 60px;
    }

    .title-banner h1 {
        font-size: 31px;
        line-height: 35px;
    }

    .title-banner p {
        font-size: 12.5px;
        line-height: 17px;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .text-see-all {
        font-size: 11px;
        line-height: 9px;
        padding: 6px 28px;
    }

    .text-see-all img {
        padding: 1px;
        right: -20%;
    }

    .btn-slip-down img {
        width: 45px;
        bottom: 5px;
    }

    .btn-slip-down a img {
        bottom: 8px;
        width: 12px;
        transform: translate(135%, -15%);
    }

    /* About Us */
    .about-us {
        padding: 50px 0;
    }

    .pic-about-us {
        width: 45%;
    }

    .about-us-desciption p {
        font-size: 12px;
    }

    .about-us-desciption h2 p {
        font-size: 28px;
        padding: 0 0 10px;
    }

    .about-us-desciption h2 span {
        font-size: 11px;
    }

    .pic-about-us img {
        margin-bottom: 100px;
        padding-left: 50px;
    }

    .pic-about-us span {
        padding: 1vw 0.5vw 0 1.5vw;
        font-size: 12px;
        width: 15vw;
        height: 8.5vw;
        right: 3vw;
        bottom: 6vw;
    }

    .pic-about-us span img {
        width: 4.5vw;
        right: 12vw;
        bottom: 3vw;
        padding: 0;
        margin: 0;
    }

    .btn-see-more-2 {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 70px;
    }

    /* Services */
    .services-1 {
        width: 95%;
    }

    /* News */
    .news {
        margin: 70px 0;
    }

    .news-contents h3 {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 25px;
    }

    .news-contents p {
        font-size: 12px;
        line-height: 15px;
    }

    .date-news {
        padding: 15px 0 20px 10px;
    }

    .btn-see-more-3 {
        padding-left: 60px;
        transform: translateY(10px);
    }

    /* Customers */
    .main-title h2 span {
        font-size: 12px;
    }

    .bg-customer {
        margin-left: 100px;
        width: 30%;
    }

    .bg-customer span {
        bottom: 2vw;
    }

    .customers-comment {
        padding: 28px 0 110px 0;
        margin: 0px;
    }

    .customer-comment p {
        padding-top: 15px;
        padding-left: 100px;
    }

    /* Contact */
    .footer-contact {
        padding: 50px 0;
    }

    .footer-contact-item-1 h2 {
        font-size: 30px;
    }

    .footer-contact-item-2 {
        padding-right: 30px;
    }

    .footer-contact-item-2 img {
        width: 25%;
    }

    .footer-contact-item-2 p {
        font-size: 11px;
        line-height: 12px;
    }

    /* Footer */
    .main-footer {
        padding-bottom: 62px;
    }

    .col-footer-1 {
        width: calc(100%/3);
        margin-left: 0;
    }

    .col-footer-2 {
        width: calc(100%/3);
        margin-left: 0;
    }

    .col-footer-3 {
        width: calc(100%/3);
        margin-left: 0;
    }

    .col-footer-3 a img {
        padding: 5.5px;
        right: 13%;
    }

    .main-footer h5 {
        margin-top: 30px;
        font-weight: 600;
        font-size: 14px;
    }

    .main-footer p {
        margin-top: 10px;
        font-size: 12px;
    }

    .main-footer h4 {
        font-size: 16px;
        line-height: 20px;
    }

    .col-footer-2 ul li a {
        font-weight: 400;
        font-size: 12px;
    }

    .submit-area {
        margin: 4px 0 10px;
    }

    .submit-area input {
        width: 235px;
        height: 35px;
    }

    .maps iframe {
        width: 255px;
        height: 120px;
    }

    /* Links */
    .footer-links {
        padding: 42px 0 32px;
    }
}

/* Max Width: 992px */
@media (max-width:992px) {


    /* Header */
    .top-header {
        padding: 25px 0 20px;
    }

    .row-header {
        display: block;
    }

    .logo {
        position: relative;
        transform: unset;
        width: 100%;
    }

    .logo li {
        text-align: center;
    }

    .icon-logo img {
        margin-left: 0;
    }

    .logo::before {
        display: none;
    }

    .slogan {
        display: none;
    }

    .menu-contact {
        justify-content: center;
        padding: 20px 0 0;
        width: 100%;
    }

    .contact-icon {
        padding: 0 35px;
        margin: 0;
    }

    .contact-name {
        display: none;
    }


    /* Menu Hamberger */
    .menu-mobile {
        display: block;
    }

    .menu-banner-mobile {
        display: none;
        background: #F8F8F8;
        width: 100%;
    }

    .menu-banner-mobile ul {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 15px 0 0;
    }

    .menu-banner-mobile li:not(:last-child) {
        padding-right: 72px;
    }

    .menu-banner-mobile li a {
        text-decoration: none;
        font-family: Mulish, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #F8F8F8;
        font-weight: 600;
    }


    /* Banner */
    .menu-banner {
        display: none;
    }

    .menu-banner-mobile li:not(:last-child) {
        padding-right: 0;
    }

    .menu-banner-mobile ul li a {
        color: darkblue;
    }

    .title-banner {
        top: 12vw;
        left: 18vw;
    }

    .title-banner h1 {
        font-size: 24px;
        line-height: 35px;
    }

    .title-banner p {
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        line-height: 15px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .text-see-all {
        font-size: 12px;
        padding: 8px 45px;
    }

    .text-see-all img {
        padding: 5px;
        width: 21%;
        right: -15%;
    }

    .icon-banner ul li {
        padding-bottom: 25px;
    }

    .btn-slip-down img {
        width: 40px;
        bottom: 5px;
    }

    .btn-slip-down a img {
        bottom: 5px;
        width: 11px;
        transform: translate(125%, -65%);
    }


    /* About Us */
    .about-us .row {
        display: block;
    }

    .pic-about-us {
        width: 100%;
        flex: none;
        text-align: center;
    }

    .pic-about-us img {
        max-width: 90%;
        margin-bottom: 100px;
        padding-left: 0%;
    }

    .pic-about-us span {
        width: 38vw;
        height: 16vw;
        right: 27%;
        bottom: 7vw;
    }

    .pic-about-us span img {
        width: 9vw;
        position: absolute;
        right: auto;
        left: -3vw;
        bottom: 4vw;
        top: auto;
    }

    .pic-about-us span {
        padding: 3vw 5vw 2vw;
        font-weight: bold;
        font-family: Mulish, sans-serif;
        font-size: 18px;
        line-height: 23px;
        color: #F8F8F8;
        text-align: center;
    }

    .about-us-desciption {
        text-align: justify;
        width: 100%;
        padding-left: unset;
        padding-bottom: 100px;
    }

    .about-us-desciption h2 span {
        text-align: center;
    }

    .about-us-desciption h2 p {
        text-align: center;
    }

    .btn-see-more-2 {
        bottom: 30px;
        left: 35%;
    }


    /* Services */
    .services {
        padding: 120px 130px;
    }

    .service {
        width: 100%;
        flex: none;
        padding-left: 9vw;
    }

    .icon-service img:first-child {
        max-width: 25%;
    }

    .icon-service img:last-child {
        padding-left: 25vw;
    }


    /* News */
    .news {
        margin: 55px 0;
    }

    .row-main-news {
        padding: 38px 0 0;
    }

    .col-news {
        width: 100%;
    }

    .news-contents-footer {
        display: flex;
        justify-content: space-between;
    }


    /* Customer */
    .slick-prev::before,
    .slick-next::before {
        font-size: 30px;
    }

    .slick-prev {
        left: -10px;
    }

    .slick-next {
        right: 10px;
    }

    .main-title h2 span {
        font-size: 12px;
    }

    .main-title h2 p {
        font-size: 36px;
    }

    .customers-comment {
        text-align: justify;
        max-width: 100%;
        padding: 38px 0 76px;
    }

    .bg-customer {
        position: relative;
        width: 100%;
        margin-left: 0;
        padding: 0;
        text-align: center;
    }

    .bg-customer img {
        width: 100%;
        padding: 10vw;
    }

    .bg-customer span {
        left: 26vw;
        right: auto;
        top: auto;
        bottom: 6vw;
        padding: 5vw;
    }

    .customer-comment {
        position: relative;
        width: 90%;
        margin-top: 50px;
        padding: 0;
    }

    .customer-comment p {
        padding-left: 100px;
    }

    .brands {
        padding: 0 0 47px;
    }

    .slick-prev,
    .slick-next {
        top: 40%;
        width: 30px;
        height: 30px;
    }

    /* Contact */
    .footer-contact {
        padding: 40px 0;
    }

    .footer-contact-item-1 h2 {
        font-size: 35px;
        line-height: 30px;
    }

    .footer-contact-item-2 {
        padding-right: 30px;
    }

    .footer-contact-item-2 img {
        width: 25%;
    }

    .footer-contact-item-2 p {
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
        margin-top: 10px;
    }

    .footer-contact-item-1 h2 {
        padding-top: 20px;
    }


    /* Footer */
    .main-footer {
        padding-bottom: 46px;
    }

    .col-footer-1 {
        flex: none;
        width: 100%;
        margin: 0;
        padding-top: 21px;
    }

    .col-footer-2 {
        flex: none;
        width: 100%;
        margin: 0;
        padding-top: 21px;
    }

    .col-footer-3 {
        flex: none;
        width: 100%;
        margin: 0;
        padding-top: 21px;
    }

    .col-footer-2 ul {
        display: flex;
    }

    .col-footer-2 ul li {
        padding-right: 50px;
    }

    .col-footer-3 a img {
        top: 0;
        bottom: auto;
        right: auto;
    }

    .maps iframe {
        width: 316px;
        height: 150px;
    }


    /* Links */
    .footer-links {
        padding: 26px 0 21px;
    }

    .footer-links a:not(:last-child) {
        padding-right: 50px;
    }

    .footer-links img {
        width: 15px;
        height: 15px;
    }

    .contact-icon:hover {
        border-radius: unset;
        padding: 0 35px;
        box-shadow: unset;
        transition: 0;

    }
}

/* Max Width : 768px */
@media (max-width:768px) {
    .bg-customer span {
        left: 20vw;
    }

}

/* Max Width : 767px */
@media (max-width:767px) {

    /* Header */
    .icon-logo img {
        width: 20%;
        margin-left: 0;
    }

    .contact-icon img {
        width: 70%;
    }

    .contact-name p {
        font-size: 8px;
        line-height: 14px;
    }

    .contact-name span {
        font-size: 8px;
        line-height: 15px;
    }

    /* Banner */
    .banner {}

    .title-banner {
        width: 90%;
        top: 0;
        bottom: auto;
        left: 0;
        padding: 8vw 0 0 13vw;
    }

    .title-banner h1 {
        font-size: 23px;
        line-height: 5vw;
        width: 100%;
    }

    .title-banner p {
        font-size: 12px;
        font-weight: normal;
        line-height: 3vw;
        margin-top: 1.5vw;
        margin-bottom: 2vw;
        width: 90%;
    }

    .icon-banner {
        display: none;
    }

    /* About Us */
    .pic-about-us span {
        bottom: 11vw;
    }

    .pic-about-us span {
        font-size: 15px;
    }

    /* Services */
    .services {
        padding: 70px;
    }

    .service {
        padding-left: 5vw;
    }

    .icon-service {
        padding-top: 20px;
        margin-bottom: 8px;
    }

    .detail-service p:last-child {
        padding-bottom: 20px;
    }

    .icon-service img:first-child {
        max-width: 50%;
    }

    .icon-service img:last-child {
        display: none;
    }

    /* Customer */
    .slick-prev {
        display: none;
    }

    .slick-next {
        display: none;
    }

    .slick-prev::before {
        display: none;
    }

    .slick-next::before {
        display: none;
    }

    .bg-customer img {
        padding: 0 10vw;
    }

    .bg-customer span {
        left: 20vw;
        bottom: -5vw;
    }

    .customer-comment {
        position: relative;
        width: 90%;
        margin-top: 50px;
        padding: 0;
    }

    .brands {
        display: none;
    }

    .slick-track img:last-child {
        padding: 3vw;
    }

    .brands-mobile {
        display: flex;
        margin: 0;
        overflow: hidden;
    }

    /* Contact */
    .footer-contact-item-1 {
        width: 15%;
    }

    .footer-contact-item-1 h2 {
        padding-top: 30px;
        font-size: 20px;
    }

    .footer-contact-item-2 {
        padding-right: 0;
    }

    .footer-contact-item-2 img {
        width: 20%;
    }

    /* Footer */
    .col-footer-2 ul li {
        padding-right: 30px;
    }
}

/* Max Width : 576px */
@media (max-width:576px) {

    /* Header */
    .top-header {
        padding: 20px 0 20px;
    }

    .contact-icon {
        padding: 0px 20px;
    }

    /* Banner */
    .title-banner h1 {
        font-size: 17px;
    }

    .title-banner p {
        font-size: 10px;
    }

    .text-see-all img {
        right: -18%;
        width: 21%;
        ;
    }

    /* About Us */
    .about-us-desciption {
        padding-left: 12px;
    }

    .pic-about-us span {
        font-size: 10px;
        bottom: 17vw;
    }

    /* Services */
    .services {
        padding: 50px;
    }

    /* News */
    .col-news {
        padding: 5px;
        text-align: center;
    }

    .news-contents {
        padding-left: 0;
    }

    /* Customers */
    .customer {
        padding: 0 5vw;
    }

    .bg-customer {
        padding: 0;
    }

    .bg-customer img {
        max-width: 100%;
        padding: 0 80px;
    }

    .bg-customer span {
        left: 22vw;
        padding: 4vw;
    }

    .customers-comment {
        padding: 38px 0 76px;
    }

    .customer-comment {
        width: 100%;
        margin-top: 50px;
    }

    .customer-comment p {
        padding-left: 80px;
    }

    .customer-comment img {
        padding: 0;
        left: 0;
    }

    /* Contact */
    .row-footer-contact {
        display: block;
    }

    .footer-contact-item-1 {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer-contact-item-1 h2 {
        padding-top: 0;
    }

    .footer-contact-item-2 {
        padding: 0;
        width: 100%;
    }

    .footer-contact-item-2 img {
        width: 5%;
    }
}

/* Max Width : 539px */
@media (max-width:539px) {

    /* Banner */
    .title-banner h1 {
        font-size: 16px;
    }

    .title-banner p {
        font-size: 9px;
    }

    .text-see-all {
        padding: 6px 40px;
    }

    .text-see-all img {
        right: -17%;
        width: 19.5%;
    }

    .btn-slip-down img {
        width: 35px;
        bottom: 4px;
    }

    .btn-slip-down a img {
        bottom: 4px;
        width: 10px;
    }

    /* Customers */
    .bg-customer span {
        left: 23vw;
        padding: 1vw;
    }

    .customer-comment p {
        padding-left: 60px;
    }

    .customer-comment img {
        left: 0;
    }

    .slick-track img:last-child {
        padding: 3vw;
    }

    /* Footer */
    .maps iframe {
        width: 270px;
        height: 135px;
    }
}

/* Max Width : 439px */
@media (max-width:439px) {

    /* Header */
    .menu-hamburger span {
        transition: 0.3s;
        display: block;
        margin: 2px;
        width: 15px;
        height: 2px;
        background-color: black;
    }

    /* Banner */
    .title-banner {
        padding: 6vw;
    }

    .title-banner p {
        font-size: 6px;
        margin-top: 1vw;
        margin-bottom: 0vw;
    }

    .btn-see-more-1 {
        margin-top: 3vw;
    }

    .text-see-all {
        font-size: 10px;
        padding: 5px 25px;
    }

    .text-see-all img {
        right: -17%;
        width: 22.6%;
    }

    .btn-slip-down img {
        width: 25px;
        bottom: 3px;
    }

    .btn-slip-down a img {
        bottom: 4px;
        width: 7px;
        transform: translate(130%, -50%);
    }

    /* About Us */
    .pic-about-us span {
        bottom: 15vw;
        font-size: 10px;
        padding: 2vw 0 0 4vw;
        line-height: 16px;
    }

    .pic-about-us img {
        max-width: 90%;
        margin-bottom: 70px;
        padding-left: 0%;
    }

    /* Services */
    .icon-service img:first-child {
        max-width: 40%;
    }

    .detail-service p {
        font-size: 12px;
        line-height: 19px;
        margin-bottom: 5px;
        padding: 0;
    }

    .detail-service p span {
        font-size: 16px;
        line-height: 15px;
    }

    .detail-service p:last-child {
        padding-bottom: 5px;
    }

    /* Customers */
    .slick-track img {
        padding: 0 6vw;
    }

    .customer-comment p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        color: #505050;
    }

    .customer-comment img {
        padding: 0;
        width: 10%;
    }

    /* Footer */
    .col-footer-2 ul {
        display: block;
        margin-left: 10px;
    }

    .col-footer-2 ul li {
        padding-right: 25px;
    }

    .col-footer-2 ul li a {
        font-size: 12px;
    }
}

/* Max Width : 417px */
@media (max-width:417px) {
    .contact-icon {
        padding: 0px 15px 0 5px;
    }
}

/* Max Width : 372px */
@media (max-width:372px) {

    /* Header */
    .top-header {
        padding: 10px 0 20px;
    }

    .menu-contact {
        padding: 10px 5px 0 0;
    }

    .contact-icon {
        padding: 0 5px;
    }

    .contact-icon img {
        width: 50%;
    }

    .contact-name p {
        font-size: 7px;
        line-height: 5px;
    }

    .contact-name span {
        font-size: 6px;
        line-height: 5px;
    }

    .menu-banner-mobile li a {
        font-size: 10px;
        line-height: 14px;
    }

    .menu-hamburger span {
        width: 10px;
        height: 1px;
    }

    /* Banner */
    .title-banner h1 {
        font-size: 11px;
        line-height: 14px;
    }

    .title-banner p {
        font-size: 6px;
        line-height: 3vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 100%;
    }

    .btn-see-more-1 {
        margin-top: 0;
    }

    .btn-see-more-2 {
        bottom: 0;
        left: 35%;
    }

    .text-see-all {
        font-size: 5px;
        padding: 6px 25px;
    }

    .text-see-all img {
        padding: 2px;
        width: 25%;
        right: -15%;
    }

    /* About Us */
    .about-us {
        padding: 30px 0;
    }

    .pic-about-us img {
        max-width: 80%;
        margin-bottom: 60px;
    }

    .pic-about-us span {
        bottom: 15vw;
        font-size: 6px;
        padding: 2vw 0 0 6vw;
    }

    .about-us-desciption {
        padding-bottom: 60px;
    }

    .about-us-desciption h2 span {
        font-size: 10px;
    }

    .about-us-desciption h2 p {
        font-size: 21px;
    }

    .about-us-desciption p {
        font-size: 10px;
    }

    /* Services */
    .icon-service {
        padding-top: 5px;
        margin-bottom: 4px;
    }

    .icon-service img:first-child {
        max-width: 30%;
    }

    .detail-service p {
        font-size: 9px;
        line-height: 14px;
        margin-bottom: 1px;
    }

    .detail-service p span {
        font-size: 12px;
    }

    /* News */
    .news {
        margin: 25px 0;
    }

    .bg-news {
        margin-bottom: 14px;
    }

    .main-title h2 span {
        font-size: 10px;
    }

    .main-title h2 p {
        font-size: 28px;
        padding-top: 8px;
    }

    .news-contents h3 {
        margin-bottom: 6px;
        font-size: 14px;
        line-height: 20px;
    }

    .news-contents p {
        font-size: 9px;
        line-height: 11px;
    }

    .date-news {
        padding: 5px 0 15px 5px;
    }

    .date-news img {
        max-width: 15%;
        padding-left: 4px;
    }

    .date-news p {
        padding-left: 4px;
        font-size: 10px;
        line-height: 30px;
        color: #303030;
    }

    .btn-see-more-3 {
        padding-left: 0px;
        transform: translateY(2px);
    }

    .link-3 {
        font-size: 10px;
        line-height: 16px;
    }

    .link-4 img {
        width: 20%;
    }

    /* Customers */
    .customer-comment p {
        padding-left: 30px;
        font-size: 10px;
        line-height: 22px;

    }

    /* Contact */
    .footer-contact-item-2 p {
        font-size: 8px;
    }

    .footer-contact-item-1 h2:hover {
        color: white;
    }

    /* Footer */
    .main-footer h5 {
        font-size: 12px;
    }

    .main-footer p {
        font-size: 10px;
    }
    .col-footer-2 ul li a {
        font-size: 10px;
    }
    .submit-area input {
        width: 190px;
        height: 30px;
    }
    .col-footer-3 a img {
        padding: 3px;
    }
    .maps iframe {
        width: 215px;
    }

}